extends layout

block content
	content
		form#search-form
			select#search-field
				option(value='dmc') DMC
				option(value='anchor') Anchor
				option(value='description') Name
			input#search-text(placeholder="Search for an embroidery floss color")
	button.clear-color-scheme.hidden Clear Color Scheme
	.color-background#all-colors
		each color in flossColors
			.color-swatch(
				id="color-swatch-#{color._id}"
				style="background-color: ##{color.hexValue}"
			)
				.details
					p #{color.description}
					p DMC: #{color.dmc}
					p Anchor: #{color.anchor}
					if color.isInColorScheme
						button.hidden.add-to-color-scheme(data-color-id="#{color._id}" id="add-#{color._id}") Add
						button.remove-from-color-scheme(data-color-id="#{color._id}" id="remove-#{color._id}") Remove
					else
						button.add-to-color-scheme(data-color-id="#{color._id}" id= "add-#{color._id}") Add
						button.hidden.remove-from-color-scheme(data-color-id="#{color._id}" id= "remove-#{color._id}") Remove
					button.see-cousin-colors(data-color-id="#{color._id}") See Cousins
	.color-background#results
